/* Styles for the IF Thought Leadership Cards block */

.editor-styles-wrapper .ibf-cards.team-cards {
  margin-bottom: 50px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  flex-flow: row nowrap
}

.editor-styles-wrapper .ibf-cards.team-cards .team-card {
  position: relative;
  margin-right: 20px;
  padding: 40px 15px;
  min-width: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.editor-styles-wrapper .slider-left-right-arrows {
  display:none;
}

.editor-styles-wrapper .ibf-cards.team-cards .team-card.light-color-bg {
  color: #000000;
}

.editor-styles-wrapper .ibf-cards.team-cards .team-card.light-color-bg h3 {
  color: #000000;
}

.ibf-cards.team-cards a.team-card {
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.ibf-cards.team-cards a.team-card img {
  margin: auto;
  width: 100%;
}

.ibf-cards.team-cards a.team-card div.team-member-image-container {
  height: 500px;
}

.ibf-cards.team-cards a.team-card div.team-member-info-container {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.ibf-cards.team-cards a.team-card div.team-member-info-container h3.team-card-title {
  text-transform: lowercase;
  color: #FFFFFF;
  padding: 30px 0 20px 0;
  font-size: 36px;
  margin-bottom: 0;
}

.ibf-cards.team-cards a.team-card div.team-member-info-container p {
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.ibf-cards.team-cards a.team-card div.team-member-info-container p.team-job-title {
  font-size: 23px;
  font-weight: bold;
  padding: 10px;
}

.ibf-cards.team-cards a.team-card div.team-member-info-container p.team-department {
  padding-bottom: 30px;
  font-size: 18px;
}