div.wp-block-group.ibf-video-card-group {
  margin: auto auto 0 !important;
}

div.wp-block-group.ibf-video-card-group .ibf-video-card {
  width: 100%;
}

.ibf-video-card a.ibf-video-card-image-container {
  height: auto !important;
  min-height: 300px !important;
}

.ibf-linkableimage.bg-color-overlay {
  min-height: 23rem !important;
}
