.project-finishes-container {
  position: relative;
  margin-top: -75px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  z-index: 1;
}

.project-finishes-card-container {
  max-width: 250px;
  width: 33%;
  margin-bottom: 20px;
}

.project-finishes-card.card-link {
  background-size: cover;
}

.project-finish-image {
  width: 100%;
  height: 250px;
  box-shadow: -10px 0px 18px 0px #0000002E;
}

.project-finish-name {
  text-align: center;
  color: #eeb310;
}

.project-finish-stone-name {
  text-align: center;
}
