.ibf-polycor-project-details.project-details-container.wp-block-columns {
  margin-bottom: 50px;
}

.project-leaders-column .project-leader {
  margin-bottom: 20px;
}

.project-details-heading {
  color: #eeb310;
}

.applications-location-column .application-title a {
  color: #0b0b0b;
  text-decoration: underline;
}
