/*
 * Global breakpoints should be (in pixels):
 * 1200
 * 992
 * 768
 * 600
 */

:root {
  /* Colors */
  --primary-color: #000000;
  --primary-color-translucent: rgba(0, 0, 0, .5);
  --light-gray: #dddddd;
  --med-gray: #6d6e71;
  --dark-gray: #333333;

  /* Layouts */
  --margin-sm: 10px;
  --margin-md: 20px;
  --margin-lg: 30px;

  /* Fonts */
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 20px;

}
