.ibf-post-thumbnail {
  height: 100%;
}
.ibf-post-thumbnail img {
  width: 100%;
}
.ibf-post-thumbnail-image-container,
.ibf-post-image-thumbnail-container {
  height: 100%;
}
.ibf-post-thumbnail-image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .ibf-post-thumbnail-label:hover {
  text-decoration: none;
}
body .ibf-post-thumbnail-label {
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  min-height: 50px !important;
  vertical-align: middle;
  color: white;
  line-height: 100%;
  font-size: 18px;
  padding: 20px;
  text-align: left;
  padding-bottom: 20px;
}
